<template>
  <div>
    <ul class="yc-qg-list">
      <li v-for="(item,idx) in dataList" :key="idx">
        <a href="#">
          <dl>
            <dt>{{item.title}}</dt>
            <dd>期望价格： {{item.fprice}}-{{item.hprice}}万元</dd>
            <dd>联系电话：{{item.tel}}</dd>
          </dl>
          <p class="red">{{item.buytypeName}}</p>
        </a>
      </li>
    </ul>
    <p v-show="loading" class="page-infinite-loading">
      <mt-spinner type="fading-circle"></mt-spinner>
      加载中...
    </p>
  </div>
</template>

<script>
import {
  debounce,
  isBottom
} from '@/util/util'
import mixin from './mixin'
import { getShipBuyingList } from '@/api/ship'
export default {
  mixins: [mixin],
  data () {
    return {
      lastId: null,
      loading: false,
      query: {
        pageSize: 6,
        buytype: 2
      },
      dataList: [],
      requestFunction: getShipBuyingList
    }
  },
  created () {
    this.load()
  },
  methods: {
    load () {
      getShipBuyingList(this.query).then(res => {
        const { data } = res
        // console.log(res.data)
        this.dataList = data.result

        this.lastId = data.pager.lastId
      })
    },
    loadMore: debounce(function (evt, el) {
      // console.log(this.lastId)
      if (this.lastId === 1) {
        return
      }
      if (isBottom()) {
        this.loading = true
        this.requestFunction({
          ...this.query,
          id: this.lastId
        }).then((res) => {
          const {
            data
          } = res
          if (data.success) {
            this.dataList = [...this.dataList, ...data.result]
            this.lastId = data.pager.lastId
          }
          this.loading = false
        })
      }
    }, 100)
  }

}
</script>

<style lang="scss" scoped>
.yc-qg-list {
  background: #efeff4;
  list-style: none;
  overflow: hidden;
  li {
    background-color: #fff;
    margin-top: 20px;
    padding: 10px 20px;
    a {
      text-decoration: none;
      display: flex;
      p {
        width: 25%;
      }
      dl {
        width: 75%;
        dt {
          color: #333333;
          font-size: 16px;
          margin-bottom: 10px;
        }
        dd {
          color: #999999;
          font-size: 14px;
          line-height: 28px;
        }
      }
    }
  }
}
.red {
  color: #fc3403;
}
</style>
