<template>
  <div ref="wrapper">
    <ul>
      <li v-for="(item,idx) in dataList" :key="idx" v-scroll="loadMore">
        <img class="mui-media-object" :src="prefix.photo + item.firstPic" @click="handleOpenLink(item)">
        <h3 class="mui-media-body">{{item.name}}</h3>
        <p>船质：{{item.materialName}}</p>
        <p>状态：<b>{{item.buytypeName}}</b></p>
      </li>
    </ul>
    <p v-show="loading" class="page-infinite-loading">
      <mt-spinner type="fading-circle"></mt-spinner>
      加载中...
    </p>
  </div>
</template>

<script>
import {
  debounce,
  isBottom
} from '@/util/util'
import mixin from './mixin'
import { getShipSaleList } from '@/api/ship'

export default {
  mixins: [mixin],
  data () {
    return {
      loading: false,
      lastId: null,
      query: {
        pageSize: 6,
        buytype: 2
      },
      dataList: [],
      requestFunction: getShipSaleList
    }
  },
  created () {
    this.load()
  },
  methods: {
    load () {
      getShipSaleList(this.query).then(res => {
        const { data } = res
        // console.log(res.data)
        this.dataList = data.result
        this.lastId = data.pager.lastId
      })
    },
    loadMore: debounce(function (evt, el) {
      // console.log(this.lastId)
      if (this.lastId === 1) {
        return
      }
      if (isBottom()) {
        this.loading = true
        this.requestFunction({
          ...this.query,
          id: this.lastId
        }).then((res) => {
          const {
            data
          } = res
          if (data.success) {
            this.dataList = [...this.dataList, ...data.result]
            this.lastId = data.pager.lastId
          }
          this.loading = false
        })
      }
    }, 100),
    handleOpenLink (row) {
      this.$router.push({
        path: `/detail/sale-detail`,
        query: { id: row.id }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  li {
    width: 46%;
    margin: 5px 2%;
    img {
      width: 100%;
      height: 120px;
    }
    p {
      font-size: 14px;
      color: #8f8f94;
      b {
        font-weight: normal;
        color: #fc3403;
      }
    }
  }
}
.mui-media-body {
  font-size: 15px;
  line-height: 15px;
  display: block;
  width: 100%;
  height: 15px;
  margin: 8px 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
}
</style>
