<template>
  <div>
    <ul class="item-wrapper">
      <li class="item">
        <div class="item1">
          <i class="iconfont icon-chushou"></i>
        </div>
        <p>出售</p>
      </li>
      <li class="item">
        <div class="item2">
          <i class="iconfont icon-qiugou"></i>
        </div>
        <p>求购</p>
      </li>
      <li class="item">
        <div class="item3">
          <i class="iconfont icon-chuzu"></i>
        </div>
        <p>出租</p>
      </li>
      <li class="item">
        <div class="item4">
          <i class="iconfont icon-qiuzu"></i>
        </div>
        <p>求租</p>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  data () {
    return {

    }
  }
}
</script>

<style lang="scss" scoped>
.item-wrapper {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  .item {
    margin: 0 20px 45px;
    width: 120px;
    height: 120px;
    div {
      width: 100px;
      display: flex;
      color: #fff;
      height: 100px;
      margin: 0 auto;
      border-radius: 3px;
      justify-content: center;
      align-items: center;
      i {
        font-size: 40px;
      }
    }
    p {
      font-size: 17px;
      line-height: 40px;
      color: #777;
    }
  }
  .item1 {
    background: #ed5654;
  }
  .item2 {
    background: #97b552;
  }
  .item3 {
    background: #52c5bf;
  }
  .item4 {
    background: #60b576;
  }
}
</style>
