<template>
  <div class="page-tabbar">
    <mt-swipe :auto="4000" class="slide-wrapper">
      <mt-swipe-item class="slide" v-for="n in 4" :key="n"><a href=""><img src="@/common/images/banner01.png" alt=""></a></mt-swipe-item>
    </mt-swipe>
    <mt-search v-model="searchText" class="search-box">
    </mt-search>
    <mt-navbar v-model="selected">
      <mt-tab-item id="出售信息">出售信息</mt-tab-item>
      <mt-tab-item id="求购信息">求购信息</mt-tab-item>
      <mt-tab-item id="出租信息">出租信息</mt-tab-item>
      <mt-tab-item id="求租信息">求租信息</mt-tab-item>
    </mt-navbar>
    <div class="page-wrap">
      <mt-tab-container v-model="selected">
        <mt-tab-container-item id="出售信息">
          <sale-information ref="出售信息"></sale-information>
        </mt-tab-container-item>
        <mt-tab-container-item id="求购信息">
          <buying-information ref="求购信息"></buying-information>
        </mt-tab-container-item>
        <mt-tab-container-item id="出租信息">
          <rental-information ref="出租信息"></rental-information>
        </mt-tab-container-item>
        <mt-tab-container-item id="求租信息">
          <renting-information ref="求租信息"></renting-information>
        </mt-tab-container-item>
      </mt-tab-container>
    </div>
  </div>
</template>
<script>
import BuyingInformation from './publish/buying-information'
import RentalInformation from './publish/rental-information'
import RentingInformation from './publish/renting-information'
import SaleInformation from './publish/sale-information'
export default {
  components: {
    BuyingInformation,
    RentalInformation,
    RentingInformation,
    SaleInformation
  },
  data () {
    return {
      searchText: '',
      selected: '出售信息'
    }
  },
  watch: {
    'selected': function (n) {
      this.$refs[n].load()
    }
  }
}
</script>
<style lang="scss" scoped>
.slide-wrapper {
  height: 137px;
  & .slide {
    line-height: 137px;
    text-align: center;
    font-size: 20px;
    img {
      width: 100%;
    }
  }
}
.search-box {
  height: 52px;
}
.page-tabbar {
  overflow-y: scroll;
}

.page-wrap {
  margin-top: 5px;
}
</style>
