<template>
  <div class="page-tabbar">
    <mt-header :title="selected">
      <router-link to="/" slot="left">
        <mt-button icon="back">返回</mt-button>
      </router-link>
      <mt-button icon="more" slot="right"></mt-button>
    </mt-header>
    <div class="page-wrap">
      <router-view></router-view>
    </div>
    <mt-tabbar v-model="selected" fixed>
      <mt-tab-item id="渔船信息">
        <i slot="icon" class="iconfont icon-xingzhuang"></i>
        渔船信息
      </mt-tab-item>
      <mt-tab-item id="发布信息">
        <i slot="icon" class="iconfont icon-zixuntubiao"></i>
        发布信息
      </mt-tab-item>
      <mt-tab-item id="我的">
        <i slot="icon" class="iconfont icon-personalcenter"></i>
        我的
      </mt-tab-item>
    </mt-tabbar>
  </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
  data () {
    return {
      selected: ''
    }
  },
  created () {
    this.selected = this.routeRecord.name
  },
  computed: {
    ...mapState(['routeRecord'])
  },
  methods: {
    // ...mapMutations({
    //   set_RouteRecord: 'SET_ROUTERECORD'
    // })
  },
  watch: {
    'selected': function (n) {
      this.$router.push({
        name: n
      })
    }
  }
}
</script>
<style lang="scss" scoped>
.page-tabbar {
  overflow: hidden;
}

.page-wrap {
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 55px;
}
</style>
