// 颜色定义规范
$color-background: rgb(255, 255, 255);
$color-background-d: rgba(245, 245, 245, 0.3);
$color-highlight-background: rgb(192, 192, 192);
$color-dialog-background: rgb(150, 150, 150);
$color-theme: #32d6ff;
$color-theme-d: rgba(49, 145, 255, 0.5);
$color-sub-theme: #4f30d9;
$color-text: rgb(0, 0, 0);
$color-text-d: rgba(44, 44, 44, 0.3);
$color-text-l: rgba(122, 122, 122, 0.5);
$color-text-ll: rgba(255, 255, 255, 0.8);

// 字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;