<template>
  <div class="page-tabbar">
    <div class="page-header">
      <img src="@/common/images/logo.png" alt="">
      <p>
        <span>登录</span> |
        <span>注册</span>
      </p>
    </div>
    <div class="page-wrap">
      <mt-cell title="我的订单" is-link>
        <i slot="icon" class="iconfont icon-chushou"></i>
      </mt-cell>
      <mt-cell title="渔船信息" is-link>
        <i slot="icon" class="iconfont icon-chuzu"></i>
      </mt-cell>
      <mt-cell title="船员信息" is-link>
        <i slot="icon" class="iconfont icon-qiuzu"></i>
      </mt-cell>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {

    }
  }
}
</script>

<style lang="scss" scoped>
.page-tabbar {
  overflow-y: scroll;
  background: #f5f5f5;
  .page-header {
    background: #fff;
    padding: 10px;
    border-bottom: 1px solid #4affff;
    margin-bottom: 20px;
    img {
      width: 50px;
    }
    p {
      display: inline-block;
      line-height: 25px;
      color: #767575;
      span {
        margin: 0 5px;
      }
    }
  }
  .page-wrap {
    border-top: 1px solid #4affff;
    i {
      font-size: 20px;
      margin-right: 8px;
    }
  }
}
</style>
