<template>
  <div class="wrapper">
    <mt-header title="详情">
      <router-link to="/" slot="left">
        <mt-button icon="back">返回</mt-button>
      </router-link>
      <mt-button icon="more" slot="right"></mt-button>
    </mt-header>
    <div class="modular">
      <p class="title">{{detialData.buytypeName}}</p>
      <p>{{detialData.updatetime}}</p>
      <p class="price">期望价格: <span>{{detialData.fprice}}-{{detialData.hprice}}万</span></p>
    </div>
    <div class="modular">
      <p class="title blue">详细参数要求</p>
      <p>求购单位:{{detialData.company}}</p>
      <p>求购数量：{{detialData.num}}</p>
      <p>所在地区:{{detialData.districtName}}</p>
      <p>包装要求：{{detialData.catidName}}</p>
      <p>有效期限：{{detialData.inputtime}}</p>
    </div>
    <div class="modular">
      <p class="title blue">联系方式</p>
      <p>联系人：{{detialData.linkman}}</p>
      <p>联系电话：{{detialData.tel}}</p>
    </div>
    <div class="footer">
      <mt-button type="primary">
        <i slot="icon" class="iconfont icon-chushou"></i>
        联系电话
      </mt-button>
    </div>
  </div>
</template>

<script>
import { getShipBuyDetailList } from '@/api/ship'
export default {
  data () {
    return {
      detialData: {}
    }
  },
  created () {
    this.load()
  },
  methods: {
    load () {
      getShipBuyDetailList({ id: this.$route.query.id }).then(res => {
        this.detialData = res.data.result
        console.log(this.detialData)
      })
    }
  }
}
</script>

<style scoped>
.wrapper {
  height: 100vh;
  background: #f5f5f5;
}
.modular {
  margin-top: 20px;
  background: #ffffff;
  padding: 10px;
}
p {
  padding: 5px 0;
  color: #8a8a8a;
}
.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
.footer button {
  width: 100%;
  height: 6.5vh;
  border-radius: 0;
}
.title {
  font-size: 20px;
  color: #626262;
}
.blue {
  color: #6fb7e8;
}
span {
  color: #fd7159;
}
.price {
  font-size: 18px;
}
</style>
