<template>
  <div class="wrap">
    <mt-header title="详情">
      <router-link to="/" slot="left">
        <mt-button icon="back">返回</mt-button>
      </router-link>
      <mt-button icon="more" slot="right"></mt-button>
    </mt-header>
    <div class="main">
      <div class="main-banner">
        <img :src="prefix.photo + detailData.firstPic" alt="">
      </div>
      <div class="main-content">
        <div class="yc-detail-price bg-white">
          <ul>
            <li>{{detailData.title}}{{detailData.name}}</li>
            <li v-if="detailData.price"><em>￥{{detailData.price}}</em></li>
            <li v-else><em>￥面议</em></li>
          </ul>
        </div>
        <div class="yc-detail-cs bg-white">
          <ul>
            <li>船质:{{detailData.materialName}}</li>
            <li>状态:{{detailData.buytypeName}}</li>
            <li>船宽:{{detailData.width}}</li>
            <li>功率:{{detailData.power}}KW</li>
            <li>船籍码头:{{detailData.cityName}}{{detailData.districtName}}</li>
            <li>作业方式: {{detailData.catidName}} </li>
            <li>完工日期:{{detailData.buildtime}}</li>
          </ul>
        </div>
        <div class="yc-detail-cslist bg-white">
          <h3>详细参数</h3>
          <ul>
            <li>渔船编号：{{detailData.name}}</li>
            <li>渔船材质：{{detailData.materialName}}</li>
            <li>作业方式：{{detailData.catidName}}</li>
            <li>完工日期：{{detailData.buildtime}}</li>
            <li>船籍码头；{{detailData.cityName}}{{detailData.districtName}}</li>
            <li>船龄：{{detailData.shipord}}</li>
            <li>功率：{{detailData.power}}kw</li>
            <li>双控功率：{{detailData.doublepower}}kw</li>
          </ul>
          <div class="text" v-html="detailData.data"></div>
          <p>
            <img src="@/common/images/banner01.png" data-preview-src="" data-preview-group="1" />
          </p>
          <p>
            <img src="@/common/images/banner01.png" data-preview-src="" data-preview-group="1" />
          </p>
          <p>
            <img src="@/common/images/banner01.png" data-preview-src="" data-preview-group="1" />
          </p>
        </div>
      </div>
    </div>
    <div class="footer">
      <mt-button type="primary">
        <i slot="icon" class="iconfont icon-chushou"></i>
        联系电话
      </mt-button>
    </div>
  </div>
</template>

<script>
import { getShipSaleDetailList } from '@/api/ship'
export default {
  data () {
    return {
      detailData: {}
    }
  },
  created () {
    this.load()
    console.log(this.$route.query.id)
  },
  methods: {
    load () {
      getShipSaleDetailList({ id: this.$route.query.id }).then(res => {
        this.detailData = res.data.result
        console.log(this.detailData)
      })
    }
  }
}
</script>

<style lang="scss" scoped>
img {
  width: 100%;
}
.bg-white {
  background: #fff;
}
.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  button {
    width: 100%;
    height: 6.5vh;
    border-radius: 0;
  }
}
.main {
  width: 100%;
  padding-bottom: 6.5vh;
  color: #333;
  .main-banner {
    width: 100%;
    height: 220px;
    img {
      height: 100%;
    }
  }
  .main-content {
    background: #efeff4;
    overflow: hidden;
    .yc-detail-price {
      margin-top: 20px;
      ul {
        padding: 10px 20px;
        li {
          line-height: 30px;
          font-size: 16px;
          em {
            font-style: normal;
            color: #fc3403;
          }
        }
      }
    }
    .yc-detail-cs {
      margin-top: 20px;
      ul {
        padding: 10px 20px;
        li {
          line-height: 30px;
        }
      }
    }
    .yc-detail-cslist {
      margin-top: 10px;
      h3 {
        padding: 10px 0px 0px 20px;
        font-size: 18px;
        color: #0185d8;
        font-weight: bold;
      }
      ul {
        padding: 10px 20px;
        li {
          line-height: 30px;
        }
      }
      .text {
        padding: 0px 20px;
        margin-bottom: 10px;
      }
      p {
        padding: 0px 20px;
        margin-bottom: 10px;
      }
    }
  }
}
</style>
